.hosting-component {
    display: flex;
    flex-direction: row;
    margin: 0 300px;
    width: 1400px;
}

.cal {
    margin-left: 100px;
    width: 800px;
}

.hosting-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 300px;
}

.pic-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.post-deets {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.post-title {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.post-desc {
    line-height: 1.5em;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.post-cost {
    font-size: 36px;
    color: green;
    font-family: 'Montserrat', sans-serif;
}

.post-pic {
    width: 70%;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.host-name {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.reviews {
    max-width: 40%;
}

.DayPicker {
    display: inline-block;
    font-size: 20px;
}

.activity-icon {
    font-size: 30px;
    padding-right: 20px;
}

.activity-name {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.act-div-title {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.acts-div {
    display: flex;
    flex-direction: row;
}

.activities-div {
    justify-content: center;
    text-transform: uppercase;
    width: 400px;
}

.activities-comp {
    background-color: #565264;
    padding-bottom: 20px;
    width: 100%;
    height: 90%;
    padding-right: 80px;
    border-radius: 10px;
}

.acc-icon {
    font-size: 30px;
    padding-right: 20px;
}

.acc-name {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.acc-div-title {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.acts-div {
    display: flex;
    flex-direction: row;
}

.accommodations-div {
    justify-content: center;
    text-transform: uppercase;
    width: 400px;
}

.acc-comp {
    background-color: #565264;
    padding-bottom: 20px;
    width: 100%;
    height: 90%;
    padding-right: 80px;
    border-radius: 10px;
}
