.hosting-component {
    display: flex;
    flex-direction: row;
    margin: 0 300px;
    width: 1400px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* max-width: 1200px; */
    /* margin: 0 auto; */
}

.cal {
    margin-left: 100px;
    width: 800px;
}

.hosting-page {
    /* max-width: 1200px;
    margin-left: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 300px;
}

.pic-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.post-deets {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.post-title {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.post-desc {
    line-height: 1.5em;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    /* margin: 10px; */
}

.post-cost {
    font-size: 36px;
    color: green;
    font-family: 'Montserrat', sans-serif;
}

.post-pic {
    width: 70%;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    /* margin-left: 150px; */
    /* margin-right: -300px; */
}

.host-name {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

}

.reviews {
    max-width: 40%;
}

.DayPicker {
    display: inline-block;
    font-size: 20px;
}

/* .activities-comp {
    display: flex;
} */



.acts-div {
    display: flex;
    flex-direction: row;
}
