.activity-link {
    text-decoration: none;
    color: #333333;
    height: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.spots-activities {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: -770px;
}
