.accommodation-img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.accommodations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.accommodations-expo {
    width: 50%;
    height: 10%;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
}

.accommodations-phrase {
    color: #161616;
    width: 70%;
    margin-left: 20px;
}

.accommodation-card-1 {
    position:relative;
    margin-left: 34px;
    min-width: 40%;
}

.accommodation-card-2 {
    position:relative;
    margin-left: -124px;
    min-width: 40%;
}

.accommodation-card {
    position:relative;
    margin-left: -130px;
    min-width: 40%;
}

.accommodation-info-card {
    background-color: #5C6D70;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 150px;
    position: absolute;
    width: 30%;
    bottom: 0;
    left: 0;
}

.title {
    color: white;
    font-weight: lighter;
}

.accommodations-title {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #B7B7A4;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    height: 10%;
    width: 90%;
    justify-content: center;
    text-align: center;
}

.states-title:hover {
    background-color: rgba(255, 255, 255, 0.137);
}


.acc-div {
    display: flex;
    max-width: 90%;
    overflow: hidden;
    justify-content: center;
    margin-left: 50px;
}
