.activities-img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}


.activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 80%;
    border-radius: 10px;
}

.activities-expo {
    width: 50%;
    height: 10%;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
}

.activities-phrase {
    color: #161616;
    width: 70%;
    margin-left: 20px;
}

.activities-card-1 {
    position:relative;
    display: inline-block;
    min-width: 70%;
    margin-left: 450px;
    margin-right: -550px;
    height: 100%;
    margin-bottom: 50px;
}

.activities-card-2 {
    position:relative;
    display: inline-block;
    margin-right: -290px;
    min-width: 70%;
    height: 100%;
    margin-bottom: 50px;
}


.activities-card {
    position:relative;
    display: inline-block;
    min-width: 70%;
    margin-left: -255px;
    /* margin-right: -480px; */
    height: 100%;
    margin-bottom: 50px;
}


.activities-div {
    margin-left: 100px;
}

.activities-card-middle {
    position:relative;
    display: inline-block;
    margin-top: 200px;
    margin-right: -540px;
    height: 100%;
}

.activities-info-card {
    background-color: #5C6D70;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 70px;
    position: absolute;
    width: 20%;
    bottom: 0;
    left: 0;
}

.title {
    color: white;
    font-weight: lighter;
}

.activities-title {
    /* color: #ffffff; */
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #B7B7A4;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    height: 10%;
    width: 90%;
    justify-content: center;
    text-align: center;
}

.activities-title:hover {
    background-color: rgba(255, 255, 255, 0.137);
}

.activities-divs {
    display: flex;
    max-width: 90%;
    overflow: hidden;
    justify-content: center;
    margin-left: 50px;
}
