.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
    float: left;
}

.body-div {
    display: flex;
    flex-direction: column;
}

.states-img {
    border-radius: 10px;
    height: 100%;
    min-width: 100%;
}

.states {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.states-expo {
    width: 50%;
    height: 10%;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
}

.states-phrase {
    color: #161616;
    width: 70%;
    margin-left: 20px;
}

.states-card {
    position:relative;
    margin-left: -350px;
    max-width: 50%;
}

.states-card-1 {
    position:relative;
    margin-left: 200px;
    max-width: 50%;
}

.states-card-2 {
    position:relative;
    margin-left: -350px;
    max-width: 50%;
}

.states-info-card {
    background-color: #5C6D70;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 150px;
    position: absolute;
    width: 20%;
    bottom: 0;
    left: 0;
}

.title {
    color: white;
    font-weight: lighter;
}

.states-title {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #B7B7A4;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    height: 10%;
    width: 90%;
    justify-content: center;
    text-align: center;
}

.states-title:hover {
    background-color: rgba(255, 255, 255, 0.137);
}

.states-div {
    display: flex;
    /* margin-left: 20px; */
    /* padding-right: -140px; */
    justify-content: center;
    /* padding-right: 40px; */
    min-width: 80%;
    overflow: hidden;
}
