.indiv-post {
    margin-left: 400px;
}

.links {
    text-decoration: none;
    color: #333333;
    height: 50%;
}

.spots-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin-bottom: 80px;
}

.spots-phrase {
    color: #161616;
    width: 70%;
    margin-left: 20px;
    width: 50%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

.spots-info-card {
    border-radius: 10px;
    margin-left: 100px;
    width: 50%;
    bottom: 0;
    left: 0;
}

.spots-title {
    padding: 0.8rem;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    height: 10%;
    width: 90%;
    text-decoration: none;
}

.spots-card {
    display: flex;
    /* height: 1500px; */
}

.post-desc {
    margin-left: 10px;
}

.post-location {
    margin-left: 10px;
}

.spots-all {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 400px;
}
