.form {
    width: 500px;
    min-height: 500px;
    z-index: -100;
}

.outer-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputs-div {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.login {
    /* margin-left: 20px;
    border: none;
    background-color: #f8f8ff;
    font-size: 20px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; */
    /* margin-top: -10px; */
}
